@using SkillEntities.DTOs
@model DataList<SkillListing>

@if (TempData.ContainsKey("SuccessMessage"))
{
    <div class="alert alert-success">@TempData["SuccessMessage"]</div>
}
@if (TempData.ContainsKey("ErrorMessage"))
{
    <div class="alert alert-danger">@TempData["ErrorMessage"]</div>
}
@{
    @if (@Model?.Records != null)
    {
        <div class="d-flex justify-content-center align-items-center">
            <div class="mx-2">
                <select class="form-select" aria-label="Default select example" onchange="ApplySorting(this)">
                    <option selected value="New">Sort</option>
                    <option value="A_to_Z">A to Z</option>
                    <option value="Z_to_A">Z to A</option>
                    <option value="Old_to_New">Old to New</option>
                    <option value="New_to_Old">New to Old</option>
                </select>
            </div>
            <div class="mx-2">
                <select class="form-select" aria-label="Default select example" onchange="ApplyStatus(this)">
                    <option selected value="All">Status</option>
                    <option value="All">All</option>
                    <option value="Active">Active</option>
                    <option value="Inactive">Inactive</option>
                </select>
            </div>
            <div class="mx-2">
                <input type="text" id="Search_Field" class="form-control" placeholder="Search Skill" onkeydown="SearchSkill(this)">
            </div>
            <button class="btn btn-success mx-2" onclick="location.href='@Url.Action("AddSkill", "Skill")'">

                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                    <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
                </svg>
                <span>ADD Skill</span>
            </button>
        </div>
        <div id="Skill_List">
            <Partial name="Skill/_SkillListing" model=@Model />
        </div>
        //<nav aria-label="Page navigation example">
        //    <ul class="pagination justify-content-end align-items-center">
        //        <li class="" id="previous">
        //            <button class="btn btn-secondary previous-btn" onclick="previousPage()">Previous</button>
        //        </li>
        //        @for (var i = 1; i <= Math.Ceiling((decimal)@Model.TotalRecords / 5); i++)
        //        {

        //            <li class="page-item"><button class="page-link page-indexes" id="page-@i" onclick="ChangePage(this)">@i</button></li>
        //        }

        //        <li class="" id="next">
        //            <button class="btn btn-secondary next-btn" onclick="nextPage()">Next</button>
        //        </li>
        //    </ul>
        //</nav>
    }
    else
    {
        <h4>No recordes found</h4>
    }
}

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/Pagination.js"></script>
<script src="~/js/Skill/SkillPage.js"></script>